html {
scroll-behavior: smooth;
}

/*Satzspiegel // Gerüst */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header {
    background-color: #A63D33;
    display: flex;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 20px;
}

.main {
    display: flex;
}

.main-left {
    width: 70%;
    scroll-behavior: smooth;
}

.main-input {
    width: 93%;
}

.restaurant {
    text-decoration: none;
}

.restaurant:hover {
    color: #be6e23; 
}

.restaurant-name{
   color: black; 
}

.rate {
    display: flex;
    align-items: baseline;
}

.rate-click {
    color: #D9981E; 
}

.rate-click:hover {
    color: #be6e23; 
    cursor: pointer;
}

.stars {
    width: 180px;
    margin-right: 20px;
}

.main-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.restaurant-logo {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -55px;
}

.logo {
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid grey;
    height: 110px;
}

.m-left {
    margin-left: 30px;
}

.products {
    background-color: #f8f5f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
    margin-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 18px;
    margin-top: 40px;
}

.products a {
    text-decoration: none;
    color: #D9981E; 
}

.products a:hover {
    color: #be6e23; 
}

.food-category {
    background-color: #f8f5f2;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    margin-top: -6px;
}

.food-img {
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.h3 {
    text-align: center;
    color: grey !important;
}

.dish {
    border: 1px solid grey;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.dish:hover {
    background-color:rgb(250, 246, 242);
}

.dish-input {
    padding: 20px;
}

.plus {
    font-size: 30px;
    padding-right: 20px;
    padding-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color:#D9981E; 
}

.plus:hover {
    text-decoration: none;
    color: #D9981E; 
}

.plus a:hover {
    color: #be6e23; 
}

h2 {
    font-size: 18px;
    padding-left: 30px;
}

.product-name {
    font-size: 16px;
    font-weight: 600;
}

.product-info {
    font-size: 14px;
    color: grey;
}

.product-price {
    font-size: 16px;
    font-weight: bolder;
    color: #A63D33;
}

.paytime {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 30px;
}

.order-btn {
    background-color: #A63D33;
    color: white;
    border: none;
    font-size: 30px;
    margin-top: 30px;
    padding: 15px;
    width: 95%;
}

.order-btn:hover {
    background-color: #8d332a;
}

.liefert-logo {
    width: 80px;
}

.smooth {
    scroll-behavior: smooth;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}


iframe {
    width: 80%; 
}

.btn-order-now {
    background-color: #A63D33;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px;
    margin-bottom: 60px; 
    margin-left: 30px;
    cursor: pointer;
}
.btn-order-now:hover {
background-color: #8d332a;
}

/*Warenkorb Felder*/

.basket {
    width: 30%;
    box-shadow: 1px 5px 10px silver;
}

.basket-input {
    padding-left: 20px;
    position: fixed;
    width: 25vw;
}

.basket-amount {
    width: 20px;
    margin-right: 10px;
}

.basket-names {
    width: 200px;
    margin-right: 10px;
}

.plusminus-container {
    width: 60px;
    display: flex;
    margin-right: 10px;
}

.plusminus {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 5px;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    background-color: white;
    cursor: pointer;
}

.basket-price {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.basket-img {
    width: 40px;
    margin-bottom: 20px;
}

.arrow-top {
    width: 40px;
    margin-top: 110px;
}

.delivery-items {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
}

.basket-names {
    display: flex;
}

.dustbin {
    width: 30px;
}

.dustbin img {
    width: 20px;
    cursor: pointer;
}

.row-pay {
    display: flex;
    justify-content: space-between;
}

/*Footer*/

.footer {
    background-color: #A63D33;
    color: white;
    font-size: 10px;
    padding: 30px;
}

.footer a {
    color: white;
    text-decoration: none;
}

/* Ab hier Responsive Design */

@media(max-width: 800px) {
    .main {
        width: 100%;
        flex-direction: column;
    }
    .main-left {
        width: 100%;
    }
    .main-input {
        width: 92%;
    }
    .paytime {
        font-size: 13px;
    }
    .basket {
        width: 92%;
        margin-left: 30px;
        box-shadow: 0px 0px 0px;
    }
    .basket-input {
        padding-left: 0px;
        position: inherit;
        width: 92%;
        width: 100%;
        height: 100%;
        margin-bottom: 400px;
    }
    .order-btn {
        width: 100%;
    }
    .row-pay {
        font-size: 16px;
    }
    .arrow-top {
        margin-top: 20px;
    }

    iframe {
        width: 90%;
    }
}

@media(max-width: 650px) {
    span {
        font-size: 18px;
        margin-left: -20px;
    }

    .adress {
        font-size: 13px;
    }
}

@media(max-width: 450px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .rate {
        flex-direction: column;
        align-items: center;
    }
    .rate-click {
        margin-top: 14px;
    }
    .responsive-center {
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 30px;
    }
    .adress {
        font-size: 13px;
    }
    .main-img {
        height: 150px;
    }
    .logo {
        height: 90px;
    }
    .h1 {
        text-align: center !important;
        margin-left: 0px !important;
    }
    .h2 {
        padding-left: 14px !important;
    }
    .products {
        font-size: 11pt;
        margin-top: 0px;
    }
    .main-input {
        width: 84%;
    }
    .plus {
        font-size: 45px;
        padding-top: 0px;
    }
    .food-img {
        height: 120px;
    }
    .dish-input {
        padding: 14px;
    }
    .text-center {
        text-align: center;
    }
    .logo-header {
        width: 100px;
        font-size: 14px;
    }
    .basket {
        margin-left: 30px;
        box-shadow: 0px 0px 0px;
    }
    .basket-input {
        padding-left: 0px;
        position: inherit;
        width: 82%;
        margin-bottom: 100px;
    }
    .arrow-top {
        margin-top: 20px;
    }

    iframe {
        width: 85%;
    }
}